<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="example-boundary">
  <div class="example-box" cdkDrag>
    <h2>List of Races</h2>

    <div
      cdkDropList
      #raceList="cdkDropList"
      [cdkDropListData]="race"
      [cdkDropListConnectedTo]="[selectedRaceList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div 
      class="example-box" 
      *ngFor="let item of race" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>
 <mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>1
    <div class="example-container">
    <h2>Race</h2>
  
    <div
      cdkDropList
      #selectedRaceList="cdkDropList"
      [cdkDropListData]="selectedRace"
      [cdkDropListConnectedTo]="[raceList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of selectedRace" cdkDrag>{{item}}</div>
    </div>
  </div>
</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> 
  
</div>

